html, body {
  width: 100%;
}

body.home #header {
  display: none;
}

body.home .wrapper {
  width: 100%;
}

body.home #content {
  width: 85%;
  padding: 40px 0px 0px 10px;
}

body.home #content h1 {
  position: absolute;
  top: 0;
}

.wrapper {
  padding: 0;
  display: unset;
}

.sidebar {
  width: 100%;
  border-radius: 0px;
}

#sidebar1 li {
  float: left;
  border: 0 none;
}

#sidebar2 {
  border-radius: 0;
}

#sidebar2 ul {
  width: 100%;
}

#sidebar2 li.header {
  display: none;
}

#sidebar2 a {
  font-size: 12px;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

body.search #sidebar2, body.search #contentheader {
  display: none;
}

#search-form {
  background: #cccccc;
  margin-top: 0;
  padding: 10px;
  border-bottom: 1px dashed gray;
}

body #content {
  width: 100%;
  height: 100%;
  min-width: unset;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: 0;
  border-style: none;
  top: 0;
  left: 0;
}

#content h1 {
  display: block;
  float: left;
  margin: 0 0 10px 0;
  width: 100%;
  right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

body.search #content, body.dashboard #content {
  margin-top: 34px;
}

body.post #content {
  width: 100%;
  height: 100%;
  min-width: unset;
}

body.post .time-ago {
  display: block;
  float: left;
  margin-left: 10px;
}

#chat {
  border-style: none;
  max-height: 40%;
}

#chat .avatar-small {
  height: 16px;
}

.comment p {
  line-height: 16px;
}

body.post form {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

body.post textarea {
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid gray;
  border-radius: 10px;
}
