html,body {
  display: block;
  float: left;
  width: 100%;
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  background: #eeeeee;
}

body.home {
  background-color: #99ccff;
  height: 100%;
}

body.home #content {
  width: inherit;
  margin: 60px auto;
  float: none;
}

body.post #content {
  width: min-content;
  min-width: 400px;
}

body.post h1 {
  overflow: hidden;
  margin-bottom: 8px;
  font-size: 18px;
}

#header {
  color: white;
  display: block;
  float: left;
  width: 100%;
  background: #0095ff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#header h1 {
  display: inline;
  padding-left: 10px;
  font-size: 28px;
}

#header h1 a {
 color: white;
 text-decoration: none;
}

#header .profile-block {
  display: block;
  float: right;
  padding-right: 10px;
}

#header .profile-block img {
  float: left;
  width: 36px;
  margin-right: 10px;
}

.sidebar {
  display: inherit;
  float: left;
  width: 180px;
  border-right: 1px solid gray;
  background: white;
}

.sidebar a:visited {
  color: black;
}

#sidebar2 {
  display: inherit;
  float: right;
  right: 0;
  border-left: 1px solid gray;
}

#sidebar2 .profile-block {
  margin: 10px;
}

#sidebar2 .profile-block img {
  width: 36px;
  float: right;
  margin: 10px 10px 0 0;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}

.sidebar li {
  border-bottom: 1px solid gray;
}

.sidebar a {
  text-decoration: none;
  display: block;
  padding: 20px;
}

.sidebar .active {
  background: #0095ff;
  color: white;
}

.sidebar .active a {
  color: white;
}

#content {
  display: block;
  float: left;
  margin: 0px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  max-width: 800px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}  

#content h1 {
  margin-top: 0px;
}

#chat {
  display: block;
  float: left;
  font-size: 14px;
  min-height: 50%;
  overflow-y: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-height: 50%;
  min-width: 480px;
  border-radius: 6px;
  border-top: 1px solid gray;
  padding-top: 10px;
}

body.post textarea {
  width: 100%;
  margin-bottom: 10px;
}

body.post input[type=text] {
  width: 100%;
  margin-bottom: 10px;
}

body.post .post-body {
  display: block;
  float: left;
  width: 100%;
}

#chat .me {
  float: right;
  text-align: right;
}

#chat img {
  float: left;
  margin-right: 8px;
  margin-top: 8px;
  height: 20px;
}

#chat .me img {
  float: right;
  margin-left: 8px;
}

#chat .me p {
  float: right;
}

.comment-wrapper {
  display: block;
  float: left;
  width: 100%;
}

.comment {
  margin-bottom: 10px;
  float: left;
}

.comment p {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: inherit;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background-color: #eeeeee;
  float: left;
}

.post .me {
  float: right;
}

.post form textarea {
  border-radius: 6px;
  border: 1px solid black;
  resize: vertical;
  padding: 10px;
}

.post form input[type=text] {
  border-radius: 6px;
  border: 1px solid black;
  padding: 10px;
}

#submit-button {
  padding: 10px;
  width: 200px;
  border-radius: 6px;
  background: #0095ff;
  border: 1px solid black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  text-decoration: none;
}

#submit-button:disabled {
  background: gray;
}

input#submit-button.active {
  background: #006ebd;
}

.avatar-small {
  height: 16px;
  float: right;
}

.avatar-small-left {
  height: 36px;
  float: left;
  margin-right: 10px;
}

.time-ago {
  font-size: 12px;
}

.preview {
  font-size: 12px;
}

#search-results {
  list-style-type: none;
  padding-left: 0;
}

#search-results li {
  padding-bottom: 20px;
}

#search-form input[name=q] {
  width: 100%;
  border-radius: 6px;
  border: 1px solid black;
  padding: 10px;
}

#search-form .submit-button {
  display: none;
}

.user-access-right {
  float: right;
  margin-left: 10px;
}

.user-access img {
  width: 20px;
  vertical-align: middle;
}

.wrapper {
  display: block;
  float: left;
  width: 100%;
}
